<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://hermes.dio.me/tracks/62ed1f1d-8d76-4bbc-905f-e73d20cb82f5.png"
      cardTitle="Formação HTML Developer"
      cardDescription=""
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://hermes.dio.me/tracks/da043c7a-7189-441e-bf28-adc2d05a4934.png"
      cardTitle="Formação CSS Developer"
      cardDescription=""
    ></app-small-card>

    <app-small-card
      id="3"
      photoCover="https://i.ytimg.com/vi/sBirK_DGM8A/maxresdefault.jpg"
      cardTitle="Formação Javascript Developer"
    ></app-small-card>

    <app-small-card
      id="4"
      photoCover="https://hermes.dio.me/files/assets/0ed55d2d-deb4-4bbc-a92c-c1d223849cc1.png"
      cardTitle="Programação do Zero"
    ></app-small-card>
  </div>
</div>
